@font-face {
  font-family: "FOT-UtrilloPro-DB";
  src: local("HYKaiTi"), local("HYKaiTiJ"), local("FZKai-Z03"), local("FZKai-Z03S"), local("FZKai"), local("STKaiTi"), local("KaiTi"), local("KaiTi_GB2312"), local("SimSun");
  font-weight: normal;
  font-style: normal;
}
